body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    background-color: black;

}
.buttons {
    flex-grow: .2;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    background-color: black;
}

#rock:hover,#paper:hover,#scissors:hover,#reset:hover {
    background-color: grey;
    box-shadow: 0 9px black;
}
#rock:active,#paper:active,#scissors:active,#reset:active {
    background-color: grey;
    transform: translateY(4px);
  }
.container {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
}
.scores {
    display: flex;
}
.title {
    display: flex;
    justify-content: flex-start;
    align-items: flex;
    flex-direction: column;
    font-size: 40px;
}
#result {
    height: 100px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 40px;
}
p {
    color: red;
    font-size: 20px;
    font-weight: bold;
}
.descriptor {
    color: rgb(99, 99, 99);
}
.left {
    display: flex;
    flex-grow: .5;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: darkgray;

}
.right {
    flex-grow: .7;
    background-color: grey;
}
table, th, td {
    border: 1px solid black;
    text-align: center;
}